@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    padding: 32px;
}


h1,
h2,
h3,
p {
    color: #1a202c;
}

.row {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;
}

.text__purple {
    color: #6415FF;
}



/*

NAVIGATION

*/

.link__hover--effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: -1px;
    transition: all 450ms ease;
}

.link__hover--effect--white:after {
    background-color: white;
}

.link__hover--effect--black:after {
    background-color: #242424;
}

.link__hover--effect:hover:after {
    width: 100%;
    left: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__assets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 100%;
    max-width: 40px;
}

.logo__text {
    font-weight: 900;
    color: #243E63;
    font-size: 24px;
    padding: 0 16px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 0 32px;
    font-weight: 600;
    font-size: 14px;
    color: #243E63;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
}

/*

HEADER

*/

header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
    padding-bottom: 50rem;
    height: 100vh;
}


.header__description {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.header__img {
    width: 100%;
    max-width: 48rem;
}

.header__img--wrapper {
    width: 57%;
}

.header__description--title {
    font-size: 48px;
}

.header__description--sub {
    padding-top: 56px;
}

.header__description--para {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.75em;
}

.header__email {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 65px;
    box-shadow: none;
    border: solid #e5e7eb;
    border-radius: 9999px;
}

.header__companies {
    padding: 1em 0;
}


.header__companies--title {
    font-size: 12px;
    font-weight: 700;
    color: #A0AEC0;
}

.header__companies--img {
    max-width: 400px;
    width: 100%;
}

/* 

MAIN

*/

.main__title--text {
    text-align: center;
    margin-bottom: 48px;
}

.main__elements {
    padding-bottom: 32px;
}

.main__elements--features {
    font-weight: 700;
}

.main__elements--heading {
    font-weight: 900;
    font-size: 48px;
    color: #243E63;
}

.main__elements--para {
    font-weight: 500;
    text-align: center;
    color: #7C8BA1;
    line-height: 1.75em;
}

.service__subtitle {
    line-height: 1.75em;
    font-size: 24px;
}

.service__description {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    line-height: 1.75em;
}

.service {
    display: flex;
    width: calc(100%/3);
    align-items: center;
    justify-content: center;
    margin: 36px 0;
    transition: all 350ms ease;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service__img {
    border: 2px solid #e5e7eb;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 32px;
    color: #6415FF;
}

.service:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/*

QUALITY

*/

.quality__section {
    display: flex;
    margin: 160px 0;
}

.quality__description--header {
    font-weight: 700;
    font-size: 16px;
}

.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.quality__description--element {
    padding-bottom: 32px;
}

.quality__description--subtitle {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
}

.quality__description--para {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75em;
    color: #7C8BA1;
}

.quality__img {
    width: 50%;
}


/*

STEPS

*/


.steps__section {
    display: flex;
}

.steps__img--laptop {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.step {
    display: flex;
}

.step__number{
    color: #CBD5E0;
    font-size: 36px;
    font-weight: 600;
}
.steps__description {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    align-items: space-between;
}

.step__description {
    padding-bottom: 32px;
    margin-left: 1.5em;
}

.steps__description--subtitle {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
}

.steps__description--title {
    font-weight: 700;
}

.steps__description--element {
    padding-bottom: 32px;
}
.step__description--title {
    font-weight: 600;
    font-size: 1.25em;
    color: #243E63;
}

.step__description--para {
    font-weight: 500;
    line-height: 2;
    margin-top: 0.75em;
    font-size: 0.875rem;
    color: #7C8BA1;
}

.steps__upper {
    padding-bottom: 32px;
}

/*

SPACING FOR BOTTOM

*/

footer {
    padding-bottom: 500px;
}